<footer>
    Copyright &copy;
    <script>
        document.write(new Date().getFullYear())
    </script>
    <img src="./images/logo_transparent_crop.png" alt="logo" width="60px">
</footer>
</body>

</html>